* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* common */
a {
  text-decoration: none;
}

.btn {
  --height: 56px;

  display: inline-block;
  min-width: 130px;
  height: var(--height);
  line-height: var(--height);

  border-radius: 99px;
  border: 1px solid #00095880;

  color: #000958;

  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: var(--height);
}

.btn:hover {
  opacity: 0.9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora", sans-serif;
}

input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

/* header */
.header {
  padding: 26px 0;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
}

.navbar__item {
  padding: 8px 18px;
  color: #5e6085;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
}

.navbar__item:hover {
  color: #000958;
  text-shadow: 1px 0 0 currentColor;
}

.header-action__btn {
  --height: 50px;
  min-width: 117px;
}
