* {
  box-sizing: border-box;
}
:root {
  --primary-color: #ff5b2e;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background: #fffaf5;
}

/* common */
a {
  text-decoration: none;
}

.btn {
  --height: 56px;

  display: inline-flex;
  justify-content: center;
  text-align: center;
  min-width: 130px;
  height: var(--height);
  line-height: var(--height);
  border-radius: 99px;
  border: 1px solid #00095880;
  color: #000958;
  font-size: 14px;
  font-weight: 600;
  line-height: var(--height);
}

.btn:hover {
  opacity: 0.9;
}

.btn__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora", sans-serif;
}

input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.hero__desc {
  color: #656689;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

/* ============================================header */
.header {
  padding: 26px 0;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
}

.navbar__item {
  padding: 8px 18px;
  color: #5e6085;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
}

.navbar__item:hover {
  color: #000958;
  text-shadow: 1px 0 0 currentColor;
}

.header-action__btn {
  --height: 50px;
  min-width: 117px;
}

.hero__heading {
  color: #000958;
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 3.875rem;
}
/* ==============================================hero==============================*/
.hero {
  margin: 74px 0;
  padding-bottom: 77px;
}

.hero__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* <!-- ---------------------------------Hero media---------------------------- --> */
.hero__media {
  position: relative;
  display: flex;
}

.hero__img-wrap {
  position: relative;

  display: flex;
  align-items: flex-end;

  width: 388px;
  height: 488px;
  border-radius: 16px;
  background: #fe997b;
  border: 3px solid #fff;
}

.hero__img {
  max-width: 100%;
  max-height: 100%;
}

.hero__decor {
  position: absolute;
}

.hero__decor {
  position: absolute;
  z-index: -1;
}

.hero__decor-left {
  left: -58px;
  bottom: 10px;
}
.hero__decor-right {
  top: 16px;
  right: -43px;
}

.hero__img-wrap-small {
  max-width: 186px;
  max-height: 244px;
  border-radius: 16px;
  background: #faa7ad;

  left: -24px;
  top: 319px;
}

/* list-item */
.hero__list {
  padding: 14px 18px;
  width: 250px;
  height: 156px;
  border-radius: 10px;
  background: #fff;
  box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero-list-item {
  display: flex;
}

.hero-list-item__thumb {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: #fec23f;
  object-fit: cover;
}

.hero-list-item__thumb-small {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: #6597c2;
  object-fit: cover;
}

.hero-list-item__info {
  margin-left: 10px;
  margin-top: 2px;
}

.hero-list-item__title {
  color: #181e52;
  font-family: Sora;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
}

.hero-list-item__skeleton {
  margin: 7px 0 6px 0;
  width: 118px;
  height: 4px;
  flex-shrink: 0;
  border-radius: 10px;
  opacity: 0.08;
  background: #000958;
}

.hero-list-item__skeleton-small {
  width: 39px;
  height: 4px;
  flex-shrink: 0;
  border-radius: 10px;
  opacity: 0.08;
  background: #000958;
}

.hero-list-item__separate {
  margin: 20px 0;
  width: 222px;
  height: 2px;
  background: #f2f2f2;
  border-radius: 99px;
}

.hero__list {
  position: absolute;
  top: 427px;
  left: 131px;
}

.btn--primary {
  color: #fff;
  background: var(--primary-color);
}
/* <!----------------------------- Hero content-------------------- --> */

.hero__heading-title {
  width: 517px;
  color: #000958;
  font-size: 66px;
  font-style: normal;
  font-weight: 800;
  line-height: 76px;
  margin-bottom: 24px;
}

.hero__desc-content {
  width: 391px;
  margin-bottom: 38px;
}

.hero__action-btn {
  width: 189px;
  height: 60px;
  border-color: var(--primary-color);
  border-radius: 31px;

  box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);

  font-size: 16px;
  font-weight: 600;

  align-items: center;
}

.hero__action-link {
  margin-left: 24px;
  color: #000958;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-decoration-line: underline;
}
.hero__action-link:hover {
  opacity: 1;
}

/* trang 2 ===================about */
/* ========about1 */
/* left */
.about {
  margin-top: 130px;
}

.about__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  row-gap: 146px;
}

.about__media {
  position: relative;
}

.about__label {
  font-family: Sora, sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1;
  color: #5e6085;
}

.section-heading {
  margin-top: 15px;
  font-size: 52px;
  line-height: 62px;
}

.section-heading,
.section__desc {
  width: 444px;
}

.about__checklist {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 54px;
  justify-content: flex-start;
  gap: 36px;
}

.about__check-item {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1;
  color: #48496a;
}

.about__check-item::before {
  position: relative;
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: #ff5d31;
  box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
  border-radius: 4px;
}

.about__check-item::after {
  position: absolute;
  top: 4px;
  left: 5px;
  content: url(../icon/check.svg);
}

/* right */
.about__card {
  position: absolute;
  top: 165px;
  left: 0;
  width: 136px;
  padding: 30px 26px;
  background: #5bd6e2;
  box-shadow: -15px 26px 48px rgba(85, 240, 255, 0.17);
  border-radius: 10px;
  text-align: center;
}

.about__card-title {
  font-family: Sora, sans-serif;
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 1;
  color: #fff;
}

.about__card-desc {
  margin-top: 14px;
  font-size: 1.4rem;
  line-height: 1.43;
  color: #c6f4f9;
}
.about__card-decor {
  position: absolute;
  top: -39px;
  right: -32px;
}

.about__img-wrap {
  position: relative;
  width: 494px;
  margin-left: auto;
}

.about__img-wrap::after {
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  content: "";
  height: 336px;
  background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
  border-radius: 16px;
  z-index: -1;
}

.about__img {
  /* margin-left: auto; */
  display: block;
  margin: 0 auto;
}

.about__media-decor {
  z-index: -1;
  position: absolute;
  top: 159px;
  right: -81px;
}

/* left */
.about__img-wrap-bottom {
  position: relative;
  margin-left: 0;
  background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
  border: 2px solid #ffffff;
  box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
  border-radius: 18px;
}
.about__img-bottom {
  margin-left: 0;
}
.about__img-wrap-bottom::after {
  content: none;
}

.about__decor-img {
  position: absolute;
}

.about__decor-img:nth-child(1) {
  top: 11px;
  right: 85px;
}
.about__decor-img:nth-child(2) {
  top: -20px;
  right: 32px;
}
.about__decor-img:nth-child(3) {
  top: 36px;
  right: -22px;
}
.about__decor-img:nth-child(4) {
  top: 218px;
  right: -30px;
}
.about__decor-img:nth-child(5) {
  top: 275px;
  right: 27px;
}
.about__decor-img:nth-child(6) {
  top: 426px;
  right: -56px;
}
/*  right */
.about__heading-bottom {
  color: #000958;
  font-size: 52px;
  font-weight: 700;
  line-height: 62px;
  width: 543px;
}
.about__desc-bottom {
  margin: 24px 0 52px 0;
  color: #656689;
  width: 511px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.tab__list {
  position: relative;
  display: inline-flex;
  column-gap: 56px;
}

.tab__list::after,
.tab__item--active::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: var(--primary-color);
  border-radius: 99px;
  opacity: 0.07;
}

.tab__item--active::after {
  width: 95px;
  opacity: 1;
}

.tab__item {
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.tab__item--active {
  display: flex;
  align-items: center;
}

.tab__icon {
  margin-right: 10px;
}

.tab__title {
  color: #48496a;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
}

.tab__content-desc {
  color: #656689;
  width: 391px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 46px 0 32px 0;
}

.tab__content-more {
  color: #ff5d31;
  text-decoration: underline;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}

.tab__content-item {
  display: none;
}

.tab__content-item--active {
  display: block;
}
/* servicer trang 5==================== */
.service {
  margin-top: 130px;
  padding: 68px 0 100px 0;
  background: #fff6ed;
}
.service__top {
  text-align: center;
}

.service__heading {
  margin: 15px 0 0 0;
}

/* bottom */
.service__cart {
  position: relative;

  width: 294px;
  height: 208px;
  border-radius: 10px;
  border: 2px solid rgba(255, 188, 122, 0.26);

  background: #fff;
  padding: 30px 22px 30px 28px;
}

.service__cart-margin {
  margin: 24px 0;
}

.service__cart-heading {
  margin-left: 12px;
  color: #000958;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}

.service__cart-heading::before {
  content: "";
  position: absolute;
  left: 29px;
  width: 2px;
  height: 22px;
  background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
  border-radius: 99px;
}

.service__cart-desc {
  color: #656689;
  padding: 18px 0 24px 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.service__cart-link {
  display: flex;
  align-items: center;
  color: #34396a;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}

.service__cart-icon {
  margin-left: 6px;
}

.service__body {
  display: grid;
  margin-top: 71px;
  grid-template-columns: auto 1fr auto;
  column-gap: 71px;
}

.service__column-inner {
  display: flex;
  position: relative;
}

.service__column-inner::after {
  position: absolute;
  content: "";
  bottom: 0;
  width: 410px;
  height: 350px;
  left: 12px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #79d5e0;
}

.service__column-inner__img {
  z-index: 1;
}

.service__column-cta {
  margin-top: 60px;
  display: flex;
}

.column__cta {
  margin: 0 auto;
  width: 214px;
  height: 56px;
  border-radius: 31px;
  border: 1px solid #ff5b2e;

  opacity: 0.6;
  box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);
  color: #ff5b2e;
  font-size: 16px;
  font-weight: 500;
}

/* Staff trang */
.staff {
  padding: 130px 0;
}

.staff__desc,
.staff__heading {
  text-align: center;
}

.staff__heading {
  color: #000958;
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 3.875rem;
}

.staff__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 35px;
  margin-top: 45px;
}

.staff-item {
  text-align: center;
}

.staff-item__img-wrap {
  position: relative;
  margin: 0 16px;
  border-radius: 130px;

  margin-bottom: 6px;
}

.staff-item__img {
  position: relative;
  display: block;
  border-radius: 130px;
}

/* chỉnh background */
.staff-item__img-wrap::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 266px;
  border-radius: inherit;
  background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}

.staff-item__title {
  margin-top: 45px;
  color: #656689;
  font-weight: 400;
  line-height: 14px;
}

.staff-item__name {
  color: #000958;
  font-size: 22px;
  font-weight: 600;
  line-height: 22px;
  margin-top: 14px;
}

.staff__cta-wrap {
  text-align: center;
}

.staff__cta {
  margin-top: 48px;
  width: 193px;
  height: 56px;
  border-radius: 31px;
  border: 1px solid #ff5b2e;
  opacity: 0.6;
  box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);
  color: #ff5b2e;
  font-size: 16px;
  font-weight: 500;
}

/* decor */
.staff-item__img-wrap::after {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.staff-item__img-wrap::b {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

/* thay đổi màu bằng ::before */
.staff-item:nth-child(2) .staff-item__img-wrap::before {
  background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}
.staff-item:nth-child(3) .staff-item__img-wrap::before {
  background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}
.staff-item:nth-child(4) .staff-item__img-wrap::before {
  background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

/* thêm cái item vào  */
.staff-item:nth-child(1) .staff-item__img-wrap::after {
  content: url(../img/staff-decor-01.svg);
}

.staff-item:nth-child(2) .staff-item__img-wrap::after {
  content: url(../img/staff-decor-02.svg);
}

.staff-item:nth-child(3) .staff-item__img-wrap::after {
  content: url(../img/staff-decor-03.svg);
}

.staff-item:nth-child(4) .staff-item__img-wrap::after {
  content: url(../img/staff-decor-04.svg);
}

/* thay đổi chiều của decor bằng chẵn  even  */
.staff-item:nth-child(even) .staff-item__img-wrap::after {
  bottom: auto;
  top: 25px;
}
/* ====================trang 7 price */
.price {
  background: #fff6ed;
  padding: 86px 0;
}
.price__top {
  width: 709px;
  text-align: center;
  margin: 0 auto;
}
.price__heading {
  color: #000958;
  font-size: 52px;
  font-weight: 700;
  line-height: 62px;
}

.price__desc {
  color: #656689;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin: 24px 0 38px 0;
}

.price__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 56px;
  gap: 44px;
}

.price__item {
  padding: 30px;
  width: 302px;
  border-radius: 20px;
  background: #fff;
}

.price__item-link {
  color: #ff5b2e;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}

.price__item-desc {
  color: #3f4065;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  margin: 8px 0 25px 0;
}

.price__item-heading {
  color: #000958;
  font-size: 33px;
  font-weight: 700;
  line-height: 34px;
  margin-bottom: 22px;
}

.price__btn {
  width: 246px;
  height: 44px;
  border-radius: 39px;
  border: 1px solid rgba(255, 91, 46, 0.6);
  color: #ff5b2e;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;

  display: flex;
  align-items: center;

  margin-bottom: 24px;
  transition: 0.25s;
}

.price__btn:hover {
  width: 246px;
  height: 44px;
  border-radius: 39px;
  background: #ff5b2e;

  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;

  opacity: 0.9;
}

.price__item-inner {
  color: #656689;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.price__item-inner_name {
  display: flex;
  align-items: center;
  gap: 12px;
}

.price__item-inner_name:nth-child(2) {
  margin: 18px 0;
}
.price__item-inner_name:nth-child(4) {
  margin: 18px 0;
}
.price__item-inner_name:nth-child(6) {
  margin: 18px 0;
}
/* sline */
.price__switch-wrap {
  margin-left: 192px;
}

.price__switch-label {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  width: 276px;
  height: 56px;
  border: 1px solid #f15d34;
  border-radius: 99px;

  user-select: none;
  cursor: pointer;
}

.price__switch-label::before {
  content: "";
  position: absolute;
  width: 140px;
  height: 100%;
  border-radius: inherit;
  background: #ff5b2e;
  left: 0;
  top: 0;
}

.price__switch-value {
  color: #fff;
  z-index: 1;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}

.price__switch-input:checked + .price__switch-label::before {
  left: auto;
  right: 0;
  width: 131px;
}

.price__switch-input:not(:checked)
  + .price__switch-label
  .price__switch-value:nth-child(2),
.price__switch-input:checked
  + .price__switch-label
  .price__switch-value:nth-child(1) {
  color: var(--primary-color);
}

.price__switch-inner {
  position: relative;
}
.price__decor {
  position: absolute;
  top: -29px;
  right: 124px;
}

/* trang 8 */
.reviews {
  padding: 104px 0 52px;
}

.review__inner {
  display: flex;
  align-items: center;
  column-gap: 44px;
}

.review__control {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  width: 54px;
  height: 54px;
  border: 2px solid #efb8a8;
  border-radius: 50%;
  color: #ff5b2e;
  background: transparent;
}

.review__control:hover {
  color: #fff;
  background: #ff5b2e;
  transition: 0.25s;
  border-color: #ff5b2e;
  cursor: pointer;
}
.review__item {
  display: flex;
  align-items: center;
  column-gap: 115px;
  flex-shrink: 0;
  width: 100%;
}
.review__item-media {
  position: relative;
  flex-shrink: 0;
  gap: 44px;
  border-radius: 137px;
}
.review__item-media::after {
  position: absolute;
  content: "";
  width: 274px;
  height: 427px;
  left: 0;
  border-radius: inherit;
  background: #ffda54;
  height: 354px;
  left: 0;
  bottom: 0;
}

.review__item-img {
  position: relative;
  border-radius: 137px;
  z-index: 1;
  display: block;
}

.review__heading {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 24px;
}
.review__desc {
  width: 553px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 34px;
}

.review__item-name {
  position: relative;
  color: #282828;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  margin-left: 28px;
}
.review__item-name::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background: #000;
  left: -28px;
  bottom: 11px;
  border-radius: 99px;
}
.review__dots {
  display: flex;
  margin-top: 56px;
  justify-content: center;
  column-gap: 8px;
}

.review__dot {
  width: 8px;
  height: 8px;
  border-radius: 50px;
  border: 1px solid #ff5b2e;
}
.review__dot:hover {
  background: #ff5b2e;
  cursor: pointer;
}
.review__dot--active {
  width: 24px;
  height: 8px;
  background: #ff5b2e;
  border: 1px solid #ff5b2e;
}

.review__item-content {
  margin-top: 80px;
}

.review__control:nth-of-type(2) {
  margin-left: auto;
}

.review__list {
  display: flex;
}

.review__content {
  overflow: hidden;
}
